<nav class="top-bar" data-topbar>
  <ul class="title-area large-offset-1">
    <li class="name">
      <img src="assets/logo.png" alt="Armstrong&mdash;Open-Source News">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#features">Features</a></li>
      <li class="divider"></li>
      <li><a href="#about">About</a></li>
      <li class="divider"></li>
      <li><a href="#faq">FAQ</a></li>
      <li class="divider"></li>
      <li><a href="https://github.com/armstrong/"><i class="fa fa-github"></i></a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
